{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/home.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/utils.js') }}"></script>
<script src="{{ url_for('static', path='/js/home.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="nav flex">
    <div class="nav-title">Week-End</div>
    <a class="setting flex">
      <img src="{{ url_for('static', path='/img/setting.svg') }}" width="25px">
    </a>
  </div>
  <div class="section-list">
    <div class="section">
      <div class="schedule">
        <div class="schedule-list flex">
        </div>
        <div class="schedule-scroll"></div>
      </div>
    </div>
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="section-title">진행중인 연습곡</div>
          <div class="section-subtitle">아래 곡들을 연습하고 있어요!</div>
        </div>
        <div id="song-list" class="song-list">
        </div>
        <div class="section-bottom">
          <a>
            <div class="section-next">더 많은 곡 보기 ></div>
          </a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-content">
        <div class="section-header">
          <div class="section-title">투표</div>
          <div class="section-subtitle">Coming Soon!</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
