{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/form.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/register.js') }}"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="box">
    <div class="item">
      <input id="input-title" placeholder="곡을 입력하세요.">
      <div class="underline"></div>
    </div>
    <div class="item">
      <input id="input-singer" placeholder="가수를 입력하세요.">
      <div class="underline"></div>
    </div>
    <div class="item"></div>
    <div class="item">
      <button onclick="requestRegister()">곡 등록</button>
    </div>
  </div>
</div>
{% endblock %}
