{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/song.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/request.js') }}"></script>
<script src="{{ url_for('static', path='/js/song-detail.js') }}"></script>
{% endblock %}

{% block content %}
<div class="song">
  <div class="nav flex">
    <a class="nav-back flex" onclick="javascript:history.back();">
      <img src="{{ url_for('static', path='/img/back.svg') }}" width="25px">
    </a>
    <div class="nav-title font-title-3">{{ nav_title }}</div>
    {% if is_register %}
    <a id="saveSong" class="nav-edit font-text-light-1">
      <p>저장</p>
    </a>
    {% elif is_edit %}
    <a id="updateSong" class="nav-edit font-text-light-1">
      <p>저장</p>
    </a>
    {% else %}
    <a id="editSong" class="nav-edit font-text-light-1">
      <p>수정</p>
    </a>
    {% endif %}
  </div>
  <div class="song-content">
    <!-- 썸네일 이미지 -->
    <div class="song-thumbnail-section">
      {% if is_register %}
      {% elif is_edit %}
      <img src="{{ thumbnail }}" width="100%" style="opacity: 0.3;">
      {% else %}
      <img src="{{ thumbnail }}" width="100%">
      {% endif %}
    </div>
    <!-- 연습곡 상세 정보 -->
    <div class="song-detail">
      {% if is_edit %}
      <div class="song-text-edit flex">
        <div class="song-icon">
          <img src="{{ url_for('static', path='/img/song.svg') }}" width="24px">
        </div>
        <input id="inputSongTitle" placeholder="타이틀" value="{{ title }}">
      </div>
      <div class="song-text-edit flex">
        <div class="song-icon">
          <img src="{{ url_for('static', path='/img/singer.svg') }}" width="24px">
        </div>
        <input id="inputSongSinger" placeholder="가수" value="{{ singer }}">
      </div>
      {% else %}
      <div class="song-title font-title-1">{{ title }}</div>
      <div class="song-singer font-subtitle-1">{{ singer }}</div>
      {% endif %}
    </div>
    <!-- 연습곡 상태 -->
    {% if is_register %}
    {% elif is_edit %}
    <div class="song-tag">
      <div id="songSelect" class="song-select">
        <div class="status-item">
          <div class="song-status {{ status | lower }}" data-status="{{ status | lower }}">
            <p>{{ status.text }}</p>
          </div>
        </div>
        <div class="song-expand">
          <img src="{{ url_for('static', path='/img/expand.svg') }}" width="20px">
        </div>
      </div>
      <ui id="songStatusOption" class="song-status-option">
        <li class="status-item status-option-item-top font-text-light-3">
          <p>상태를 선택해주세요</p>
        </li>
        {% for s in status_list %}
        <li class="status-item status-option-item">
          <div class="song-status {{ s | lower }}" data-status="{{ s | lower }}">
            <p>{{ s.text }}</p>
          </div>
        </li>
        {% endfor %}
      </ui>
    </div>
    {% else %}
    <div class="song-tag flex">
      <div class="song-status {{ status | lower }}" data-status="{{ status | lower }}">
        <p>{{ status.text }}</p>
      </div>
    </div>
    {% endif %}
    <!-- 연습곡 변경 이력 -->
    {% if not is_edit %}
    <div class="line"><hr></div>
    <div class="song-history">
      <div class="song-timeline font-text-light-3">
        <p>생성 일시</p>
        <p>{{ created_dtm }}</p>
      </div>
      <div class="song-timeline font-text-light-3">
        <p>연습 시작 일시</p>
        <p>{{ in_progress_dtm }}</p>
      </div>
      <div class="song-timeline font-text-light-3">
        <p>종료 일시</p>
        <p>{{ closed_dtm }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
