:root {
  --white: #FFFFFF;
  --gray-1: #F4F4F4;
  --gray-2: #EDEDED;
  --gray-3: #D0D0D0;
  --gray-4: #A0A0A0;
  --gray-5: #808080;
  --gray-6: #606060;
  --gray-7: #404040;
  --gray-8: #202020;
  --black: #000000;
  --aqua-1: #EDF8F9;
  --aqua-2: #A2CED1;
  --aqua-3: #509A9F;
  --crimson-1: #FCEBEB;
  --crimson-2: #DFA1A1;
  --crimson-3: #B46363;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  color: var(--gray-8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  max-width: 500px;

  @media screen and (min-width: 500px) {
    width: 500px;
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}

.underline {
  border: solid .5px var(--gray-3);
}

.nav {
  justify-content: space-between;
  height: 35px;
  margin: 15px;
}

.nav-back {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.setting {
  width: 35px;
  height: 35px;
}

.nav-title {
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-7);
}

footer {
  background: var(--gray-1)
}

.footer-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;

  .footer-info {
    font-size: 14px;
    color: var(--gray-4);
  }
  .footer-link {
    display: flex;
    justify-content: center;
    margin: 20px;

    .link-box {
      margin: 8px;
    }
  }
}


