:root {
  --white: #FFFFFF;
  --gray-1: #F4F4F4;
  --gray-2: #EDEDED;
  --gray-3: #D0D0D0;
  --gray-4: #A0A0A0;
  --gray-5: #808080;
  --gray-6: #606060;
  --gray-7: #404040;
  --gray-8: #202020;
  --black: #000000;
  --aqua-1: #EDF8F9;
  --aqua-2: #A2CED1;
  --aqua-3: #509A9F;
  --crimson-1: #FCEBEB;
  --crimson-2: #DFA1A1;
  --crimson-3: #B46363;
  --red: #E84141;
  --orange: #EC6A5E;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  color: var(--gray-8);
}

input {
  padding: 5px;
  border: none;
  border-bottom: solid 1px var(--gray-2);
  font-family: "Pretendard", sans-serif;
  font-size: 18px;
  outline: none;
}

textarea {
  border: none;
  background: var(--gray-1);
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  outline: none;
  resize: none;
}

input::placeholder,textarea::placeholder {
  color: var(--gray-4);
}

.font-title-1 {
  font-size: 28px;
  font-weight: 600;
}

.font-title-2 {
  font-size: 24px;
  font-weight: 600;
}

.font-title-3 {
  font-size: 18px;
  font-weight: 600;
}

.font-title-4 {
  font-size: 16px;
  font-weight: 500;
}

.font-title-5 {
  font-size: 15px;
  font-weight: 500;
}

.font-subtitle-1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-7);
}

.font-subtitle-2 {
  font-size: 15px;
  color: var(--gray-6);
}

.font-text-1 {
  font-size: 18px;
}

.font-text-2 {
  font-size: 16px;
}

.font-text-3 {
  font-size: 14px;
}

.font-text-4 {
  font-size: 12px;
}

.font-text-light-1 {
  font-size: 16px;
  color: var(--gray-5);
}

.font-text-light-2 {
  font-size: 15px;
  color: var(--gray-5);
}

.font-text-light-3 {
  font-size: 14px;
  color: var(--gray-5);
}

.font-text-light-4 {
  font-size: 12px;
  color: var(--gray-4);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  max-width: 500px;

  @media screen and (min-width: 500px) {
    width: 500px;
    margin: 0 auto;
  }
}

inner-content {
  width: 100%;
}

.flex {
  display: flex;
}

.underline {
  border: solid .5px var(--gray-3);
}

.nav {
  justify-content: space-between;
  height: 35px;
  margin: 15px;
}

.nav-back {
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}

.setting {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav-edit {
  width: 35px;
  cursor: pointer;

  p {
    margin: 8px 0;
    text-align: center;
  }
}

.nav-title {
  margin: 5px;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

footer {
  background: var(--gray-1)
}

.footer-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;

  .footer-info {
    font-size: 14px;
    color: var(--gray-4);
  }
  .footer-link {
    display: flex;
    justify-content: center;
    margin: 20px;

    .link-box {
      margin: 8px;
    }
  }
}


