.calendar {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  font-weight: 500;
  text-align: center;

  .month-title {
    flex: 1;
  }

  .calendar-button {
    height: 24px;
    width: 24px;
    padding: 5px;
    cursor: pointer;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;

  .day-name {
    height: 24px;
    border-bottom: solid 1px var(--gray-1);
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-5);
  }

  .day-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    font-size: 14px;
  }
}

.day {
  width: 32px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

.day.red {
  color: #E84141;
}

.day.today {
  background: var(--gray-6);
  color: var(--gray-1);
  font-weight: 500;
  border-radius: 50%;
}

.day-schedule {
  height: 12px;

  .event {
    display: inline-block;
    width: 6px;
    height: 6px;
    min-width: 0;
    margin: 0 1px;
    border-radius: 50%;
    background: var(--gray-4);
  }
}
