body {
  background: var(--gray-1);
}

.section {
  margin: 20px 15px;
  border-radius: 20px;
  background: var(--white);
  overflow: hidden;
}

.section-content {
  padding: 20px;
}

.section-header {
  margin-bottom: 30px;

  .section-title {
    margin: 10px 0;
    font-size: 19px;
    font-weight: 700;
  }

  .section-subtitle {
    margin: 10px 0;
    font-size: 16px;
    color: var(--gray-5);
  }
}

.section-bottom {
  text-align: right;
  height: 45px;
  border-top: solid 1px var(--gray-2)
}

.section-next {
  display: inline-block;
  margin: 15px 5px;
  font-size: 15px;
  color: var(--gray-6);
  cursor: pointer;
  span,img{
    vertical-align: middle;
  }
}

.schedule {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.schedule-list {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.schedule-list::-webkit-scrollbar {
  display: none;
}

.schedule-item {
  flex: 0 0 auto;
  width: 100%;
  border-radius: 8px
}

.schedule-info {
  width: 125px;
  text-align: center;
}

.schedule-info-wrapper {
  margin: auto;

  .schedule-info-dday {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 900;
  }

  .schedule-info-date {
    font-size: 15px;
    color: var(--gray-7);
  }
}

.schedule-description {
  margin: 5px 5px 5px 20px;

  .schedule-title {
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  .schedule-text {
    margin: 5px;
    font-size: 14px;
    color: var(--gray-5);
  }
}

.schedule-scroll {
  height: 30px;
}

.scroll {
  text-align: center;
  margin: auto;

  button {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-width: 0;
    margin: 0 1.8px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: var(--gray-2)
  }

  button.active {
    background: var(--gray-5)
  }
}
