body {
  background: var(--gray-1);
}

.nav {
  justify-content: space-between;
  height: 35px;
  margin: 15px;
}

.setting {
  width: 35px;
  height: 35px;
}

.nav-title {
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-7);
}

.section {
  margin: 20px 15px;
  border-radius: 20px;
  background: var(--white);
  overflow: hidden;
}

.section-content {
  padding: 20px;
}

.section-header {
  margin-bottom: 30px;

  .section-title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .section-subtitle {
    margin: 10px 0;
    font-size: 16px;
    color: var(--gray-5);
  }
}

.section-bottom {
  text-align: right;
  height: 30px;
}

.section-next {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  color: var(--gray-6);
  cursor: pointer;
}

.schedule {
  display: inline-block;
  margin: 10px;
}

.schedule-list {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.schedule-list::-webkit-scrollbar {
  display: none;
}

.schedule-item {
  flex: 0 0 auto;
  width: 100%;
  border-radius: 8px
}

.schedule-info {
  width: 125px;
  text-align: center;
}

.schedule-info-wrapper {
  margin: auto;
}

.schedule-info-dday {
  font-size: 36px;
  font-weight: 900;
}

.schedule-description {
  margin: 5px 5px 5px 20px;

  .schedule-title {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  .schedule-text {
    margin: 5px;
    font-size: 14px;
    color: var(--gray-5);
  }
}

.schedule-scroll {
  height: 27px;
}

.song-thumbnail {
  width: 42px;
  height: 42px;
}

.song-list {
  margin: 15px 5px;
  border-bottom: solid var(--gray-1)
}

.song-item {
  margin: 20px 0;

  .song-thumbnail{
    width: 42px;
    overflow: hidden;
    border-radius: 21px;
  }

  .song-info {
    margin-left: 15px;

    .song-title {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 600;
    }

    .song-singer {
      font-size: 15px;
      color: var(--gray-5);
    }
  }
}
