.pick-gnb {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  height: 72px;
  border-bottom: solid 2px var(--gray-2);
  background: var(--white);
  z-index: 1;
}

.pick-title {
  margin: 25px;
  font-size: 20px;
  font-weight: 600;
}

.pick-header {
  flex-direction: row-reverse;
  height: 25px;
  margin: 35px 30px 0 0;
}

.pick-header-text {
  margin: 0 15px;
  font-size: 14px;
  line-height: 26px;
  color: var(--gray-6);
}

.pick-list {
  margin: 96px 0;
}

.check-circle {
  width: 25px;
  height: 25px;
  border-radius: 17px;
  box-shadow: 0 0 0 2px var(--gray-3) inset;
  cursor: pointer
}

.active {
  .check-circle {
    box-shadow: none;
    background: var(--gray-5);
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  height: 80px;
  background: var(--white);
}

.pick-button{
  margin: 3px 15px;

  button {
    width: 100%;
    margin: 5px;
  }
}
