.post {
  padding-bottom: 30px;
}

.post-category {
  display: flex;
  margin: 10px;

  a {
    display: inline-block;
    padding: 10px 5px;
    color: var(--gray-4);
    letter-spacing: -0.4;
    text-decoration: none;
  }

  .category-item {
    margin: 1px;
  }

  .category-active {
    border-bottom: solid 2px var(--gray-7);
    font-weight: 600;
    color: var(--gray-8);
  }
}

.post-content {
  a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: var(--gray-8);
    cursor: pointer;
  }

  a:hover {
    background: var(--gray-1);
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.post-title-header {
  display: flex;
  margin: 5px;

  .post-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-new {
    margin-right: 8px;
    color: var(--orange);
  }

  .post-comment-count {
    margin-left: 8px;
    color: var(--red);
  }
}

.post-below {
  margin: 5px;

  span {
    margin-right: 2px;
  }
}

.post-pagination {
  width: fit-content;
  margin: 30px auto;

  .previous,.next {
    width: 80px;
  }

  .disable {
    color: var(--gray-4);
    cursor: not-allowed;
  }

  a {
    text-decoration: none;
    color: var(--gray-8);
  }

  span {
    display: inline-block;
    min-width: 29px;
    padding: 6px 0;
    border-radius: 16px;
    text-align: center;
  }

  .current {
    background:  var(--gray-6);
    color: var(--gray-1);
  }
}

.post-detail {
  margin: 10px;

  .post-title {
    margin: 5px;
  }

  hr {
    margin: 12px 0;
    border: solid 1px var(--gray-1);
  }
}

.post-body {
  min-height: 200px;
  margin: 30px 5px 60px 5px;

  pre {
    font-family: "Pretendard", sans-serif;
    line-height: 1.6;
    white-space: pre-wrap;
  }
}

.post-comment {
  margin: 10px;

  .post-comment-header {
    padding: 5px;

    p {
      margin: 0;
    }

    span {
      font-weight: 500;
    }
  }

  .comment-list {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.comment-item {
  margin: 10px 0;

  .comment-header {
    margin: 5px;
  }

  .comment-content {
    margin: 5px;
    line-height: 1.4;
  }

  .comment-child {
    margin-left: 12px;
  }

  hr {
    margin: 10px 0;
    border: solid 1px var(--gray-1);
  }
}

.post-comment-register {
  margin: 5px;

  .comment-input {
    flex: auto;
    margin-right: 8px;
  }

  .bottom-register {
    width: 60px;
  }

  textarea {
    width: 100%;
    height: 42px;
    padding: 10px;
    border: solid 1px var(--gray-3);
    border-radius: 5px;
    background: var(--white);
    font-size: 14px;
    line-height: 1.4;
  }

  button {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: var(--gray-6);
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-1);
    cursor: pointer;
  }

  button:disabled {
    background: var(--gray-3);
    color: var(--white);
    cursor: default;
  }
}
