.schedule-content {
  margin: 15px;
}

.schedule-list {
  margin: 20px 0;
  padding: 20px 0;
  border-top: solid 1px var(--gray-1);

  .schedule-date {
    display: flex;
    flex-direction: row-reverse;
    width: 100px;

    .circle {
      width: 11px;
      height: 11px;
      margin: 3px 0px 3px 12px;
      background: var(--gray-5);
      border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: var(--gray-5);
    }
  }
}

.schedule-description {
  padding: 3px 15px 12px 15px;

  .schedule-title {
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
  }

  .schedule-text {
    margin: 5px;
    font-size: 14px;
    color: var(--gray-5);
  }
}

.schedule-description.line {
  margin-left: 93px;
  border-left: solid 3px var(--gray-2);
  cursor: pointer;
}

.schedule-description.line:active {
  background: var(--gray-1);
}

.schedule-detail-content {
  padding: 10px 20px;
}

.schedule-detail-section {
  margin: 10px 0;
  padding-right: 10px;
  color: var(--gray-8);

  .schedule-input-title {
    width: 100%;
    border-bottom: solid 1px var(--gray-2);
    font-size: 18px;
  }

  .schedule-date {
    font-size: 18px;
    font-weight: 500;
  }

  .schedule-icon {
    height: 25px;
    margin: 5px;
  }

  .schedule-icon.title {
    padding: 5px 0;
  }

  .schedule-input-date {
    width: 100%;
  }

  p {
    min-height: 25px;
    margin: 5px;
    font-size: 16px;
    line-height: 25px;
  }

  span {
    margin: 0 4px;
    font-size: 15px;
    color: var(--gray-5);
  }

  input {
    height: 25px;
    margin: 5px;
    border: none;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    outline: none;
  }

  textarea {
    width: 100%;
    padding: 5px 8px;
    border: none;
    background: var(--gray-1);
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    line-height: 25px;
    outline: none;
    resize: none;
  }
}
