.schedule {
  position: relative;
}

.calendar-content {
  margin: 15px;
}

.schedule-content {
  border-bottom: solid 1px var(--gray-2);
  background: var(--gray-1);
}

.schedule-list {
  margin: 15px;

  .schedule-date {
    padding-top: 10px;

    p {
      margin: 15px 8px;
    }
  }
}

.schedule-item-border {
  margin-left: 25px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.03);
}

.schedule-item {
  background: var(--white);
  cursor: pointer;

  .schedule-title {
    margin-top: 8px;
    margin-bottom: 12px;

    p {
      margin: 5px;
    }
  }

  .schedule-description {
    margin: 10px 0;
  }

  .schedule-text {
    margin: 5px;
  }
}

.schedule-detail-content {
  padding: 10px 20px;
}

.schedule-detail-section {
  margin: 12px 0;
  padding-right: 10px;
  color: var(--gray-8);

  .schedule-input-title {
    width: 100%;
  }

  .schedule-title {
    margin: 10px 5px;
  }

  .schedule-icon {
    height: 25px;
    margin: 5px;
  }

  .schedule-icon.title {
    padding: 5px 0;
  }

  .schedule-input-date {
    width: 100%;

    input {
      border: none;
      font-size: 16px;
    }
  }

  p {
    white-space: pre-wrap;
    min-height: 25px;
    margin: 5px;
    line-height: 25px;
  }

  span {
    margin: 0 4px;
  }

  textarea {
    width: 100%;
    padding: 5px 8px;
    line-height: 25px;
  }
}

.schedule-save {
  margin: 5px;
  padding-top: 30px;
}

.schedule-attend {
  margin: 5px;
  padding-top: 30px;

  button {
    width: 90px;
    height: 36px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .bottom-attend {
    background: var(--gray-7);
    color: var(--gray-1);
    cursor: pointer;
  }

  .bottom-participated {
    border: solid 1px var(--gray-3);
    background: var(--white);
    color: var(--gray-5);
    cursor: default;
  }
}
