.setting-content {
  padding: 20px;
}

.setting-header p {
  margin: 0 10px;
}

.setting-section {
  margin-bottom: 20px;
  padding: 5px;

  .setting-item {
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 10px;
    cursor: pointer;

    p {
      margin: auto 0;
    }
  }
  .setting-item:hover {
    background: var(--gray-1);
  }
}

.profile-section {
  .profile-header {
    margin: 5px;
  }
  .profile-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 10px;
    }
  }
}

.member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .member-name {
    display: flex;
    align-items: center;

    p {
      margin: 10px;
    }

    span {
      margin-left: 5px;
    }
  }

  .member-username p {
    margin: 10px;
  }
}

.member-leader {
  height: 28px;
  margin: 10px;
  border-radius: 5px;
  background: var(--gray-1);

  p {
    margin: 5px 8px;
  }
}
