.song-content {
  margin: 30px 20px 60px 20px;
}

.song-list {
  margin: 5px;
}

.song-item {
  padding: 10px 0;
  cursor: pointer;

  .song-thumbnail{
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 27px;

    img {
      width: 100%;
    }
  }

  .song-info {
    margin-left: 18px;

    .song-title {
      margin: 5px 0;
    }
  }
}

.song-status p {
  margin: 10px;
  padding: 4px 12px;
  border-radius: 18px;
  font-size: 14px;
}

.pending p {
  color: var(--aqua-3);
  background: var(--aqua-1);
}

.inprogress p {
  color: var(--crimson-3);
  background: var(--crimson-1);
}

.closed p {
  color: var(--gray-5);
  background: var(--gray-1);
}

.song-item-wrapper {
  justify-content: space-between;
}

.song-thumbnail-section {
  margin: 0 70px;
  padding-bottom: 20px;

  img {
    border-radius: 15px;
  }
}

.song-detail {
  margin: 5px;

  .song-title {
    margin: 10px;
  }

  .song-singer {
    margin: 10px;
  }

  .song-text-edit {
    margin: 10px 0;
    padding-right: 10px;
  }

  .song-icon {
    height: 25px;
    margin: 10px 5px;
  }

  input {
    width: 100%;
    height: 45px;
  }
}

.status-item {
  display: flex;
  list-style-type: none;
}

.song-tag {
  margin: 0 10px;

  .song-select {
    display: flex;
    width: 160px;
    cursor: pointer;

    .song-expand {
      margin: 12px 0;
    }
  }

  .song-status-option {
    display: none;
    position: absolute;
    width: 160px;
    border: solid 1px var(--gray-2);
    border-radius: 5px;
    background: var(--white);
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .status-option-item-top {
      height: 30px;
      border-bottom: solid 1px var(--gray-2);

      p {
        margin: 7px 10px;
      }
    }

    .status-option-item {
      padding: 3px 0;
      cursor: pointer;
    }

    .status-option-item:hover {
      background: #F0F0F0;
    }
  }

  .song-status-option.on {
    display: block;
  }
}

.song-save {
  margin: 5px;
  padding-top: 30px;
}

.line {
  margin: 0 10px;

  hr {
    border: solid .5px var(--gray-2)
  }
}

.song-history {
  margin: 20px;
  padding-bottom: 50px;

  .song-timeline {
    display: flex;
    justify-content: space-between;

    p {
      margin: 5px;
    }
  }
}
