{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/auth.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/request.js') }}"></script>
<script src="{{ url_for('static', path='/js/authSignup.js') }}"></script>
{% endblock %}

{% block content %}
<div class="nav flex">
  <a class="nav-back flex" onclick="javascript:history.back();">
    <img src="{{ url_for('static', path='/img/back.svg') }}" width="25px">
  </a>
</div>
<div class="auth-content">
  <div class="auth-title">
    <p class="font-title-1">회원가입</p>
  </div>
  <div class="auth-info">
    <div class="auth-input-section">
      <input id="signupInputUsername" class="input-selection" name="email" placeholder="아이디">
      <div id="signupErrorEmail" class="auth-error" hidden></div>
    </div>
    <div class="auth-input-section">
      <input id="signupInputPassword" class="input-selection" name="password" placeholder="비밀번호" type="password">
    </div>
    <div class="auth-input-section">
      <input id="signupInputPasswordCheck" class="input-selection" name="password_check" placeholder="비밀번호 확인" type="password">
      <div id="signupErrorPassword" class="auth-error" hidden></div>
    </div>
  </div>
  <div class="black-button">
    <button id="signupButton" onclick="singUp()" disabled>가입하기</button>
  </div>
</div>
<div id="screen" class="screen" hidden></div>
<div id="signup-complete" class="signup-complete" hidden>
  <div class="signup-complete-check">
    <img src="{{ url_for('static', path='/img/check-circle.svg') }}" width="60px">
  </div>
  <div class="signup-complete-text">
    <p class="font-title-2">회원가입 완료</p>
    <p class="font-text-light-1">지금 바로 밴드를 만들어보세요</p>
  </div>
  <div class="black-button">
    <button onclick="">밴드 만들기</button>
  </div>
  <div class="signup-complete-home">
    <p class="font-subtitle-2" onclick="location.href='/';">홈으로</p>
  </div>
</div>
{% endblock %}
