<div class="calendar">
  <div class="calendar-header">
    <div id="prev-month">
      <div class="calendar-button">
        <img src="{{ url_for('static', path='/img/prev-small.svg') }}" width="16px">
      </div>
    </div>
    <div id="month-title" class="month-title">April 2025</div>
    <div id="next-month">
      <div class="calendar-button">
        <img src="{{ url_for('static', path='/img/next-small.svg') }}" width="16px">
      </div>
    </div>
  </div>
  <div class="calendar-grid">
    <div class="day-name">일</div>
    <div class="day-name">월</div>
    <div class="day-name">화</div>
    <div class="day-name">수</div>
    <div class="day-name">목</div>
    <div class="day-name">금</div>
    <div class="day-name">토</div>
  </div>
  <div id="calendar-day" class="calendar-grid"></div>
</div>
