{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/button.css') }}">
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/calendar.css') }}">
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/schedule.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/request.js') }}"></script>
<script src="{{ url_for('static', path='/js/button.js') }}"></script>
<script src="{{ url_for('static', path='/js/calendar.js') }}"></script>
{% endblock %}

{% block content %}
<div class="schedule">
  <div class="nav flex">
    <a class="nav-back flex" onclick="javascript:history.back();">
      <img src="{{ url_for('static', path='/img/back.svg') }}" width="25px">
    </a>
    <div class="nav-title font-title-3">일정 관리</div>
    <a class="setting flex">
      <img src="{{ url_for('static', path='/img/setting.svg') }}" width="25px">
    </a>
  </div>
  <div class="schedule-content">
    {% include "schedule/calendar.html" %}
    <div id="schedule-list" class="schedule-list"></div>
  </div>
</div>
<div class="bottom-button flex" hidden>
  <div class="circle-button button-plus" onclick="location.href='/schedule/register'">
    <img src="{{ url_for('static', path='/img/plus.svg') }}">
  </div>
</div>
{% endblock %}
