{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='/css/schedule.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/schedule-detail.js') }}"></script>
{% endblock %}

{% block content %}
<div class="schedule">
  <div class="nav flex">
    <a class="nav-back flex" onclick="javascript:history.back();">
      <img src="{{ url_for('static', path='/img/back.svg') }}" width="25px">
    </a>
    <div class="nav-title font-title-3">{{ nav_title }}</div>
    {% if is_edit %}
    <a id="save-schedule" class="nav-edit font-text-light-1">
      <p>저장</p>
    </a>
    {% else %}
    <a id="edit-schedule" class="nav-edit font-text-light-1">
      <p>수정</p>
    </a>
    {% endif %}
  </div>
  <div class="schedule-detail-content">
    <div class="schedule-detail-section flex">
      <div class="schedule-icon title">
        <img src="{{ url_for('static', path='/img/schedule.svg') }}" width="24px">
      </div>
      {% if is_edit %}
      <input id="schedule-input-title" class="schedule-input-title" placeholder="타이틀" value="{{ title }}"  style="height: 35px;">
      {% else %}
      <p class="schedule-title font-text-1">{{ title }}</p>
      {% endif %}
    </div>
    <div class="schedule-detail-section font-text-2 flex">
      <div class="schedule-icon">
        <img src="{{ url_for('static', path='/img/time.svg') }}" width="24px">
      </div>
      {% if is_edit %}
      <div class="schedule-input-date">
        <input id="schedule-input-date" value="{{ date }}" type="date">
        <div class="flex">
          <input id="schedule-input-start-time" value="{{ start_time }}" type="time">
        <p>~</p>
          <input id="schedule-input-end-time" value="{{ end_time }}" type="time">
        </div>
      </div>
      {% else %}
      <div>
        <p>{{ date }}</p>
        <p>{{ time }}</p>
      </div>
      {% endif %}
    </div>
    <div class="schedule-detail-section font-text-2 flex">
      <div class="schedule-icon">
        <img src="{{ url_for('static', path='/img/location.svg') }}" width="24px">
      </div>
      {% if is_edit %}
      <textarea id="schedule-input-location" placeholder="장소" style="height: 35px;">{{ location }}</textarea>
      {% else %}
      <p>{{ location }}</p>
      {% endif %}
    </div>
    {% if not is_register %}
    <div class="schedule-detail-section font-text-2 flex">
      <div class="schedule-icon">
        <img src="{{ url_for('static', path='/img/users.svg') }}" width="24px">
      </div>
      <p>{{ user_count }}명 {% if user_count > 0 %}<span class="font-text-light-2">({{ usernames }})</span> {% endif %}</p>
    </div>
    {% endif %}
    <div class="schedule-detail-section font-text-2 flex">
      <div class="schedule-icon">
        <img src="{{ url_for('static', path='/img/memo.svg') }}" width="24px">
      </div>
      {% if is_edit %}
      <textarea id="schedule-input-memo" placeholder="메모" style="height: 10em;">{{ memo }}</textarea>
      {% else %}
      <p>{{ memo }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
